@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');


body
{
  font-family: 'Muli', sans-serif;
/*  padding-top: 86px;*/
}

a button:hover
{
  cursor: pointer;
}

.navbar
{
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}

.navbar-brand img
{
  height: 60px;
}

.nav-item a
{
  color: rgba(0, 0, 0, 0.5)!important;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0px 5px;
}

.nav-item a:hover
{
  color: black!important;
}

.bcta
{
  font-size: 16px;
  border: none;
  font-weight: 800;
  padding: 15px 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid black;
  transition-duration: 0.3s;
  text-transform: uppercase;
}

.wcta
{
  font-size: 16px;
  border: none;
  font-weight: 800;
  padding: 15px 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  color: white;
  transition-duration: 0.3s;
  text-transform: uppercase;
}

.bcta:hover
{
  background-color: black;
  color: white;
}

.wcta:hover
{
  background-color: white;
  color: black;
}

.f2 .wcta
{
  margin-top: 20px;
}

.work .bcta
{
  margin-top: 30px;
}

.main
{
  padding-top: 156px;
  padding-bottom: 70px;
  background-color: #fee656;
  animation-name: example2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.cassette
{
  width: 75%;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.thatxt
{
  padding-top: 70px;
  font-size: 50px;
  color: #9d7d00;
  font-family: 'Special Elite', cursive;
}

@keyframes example {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: -10px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes example2 {
  0% {
    padding-bottom: 70px;
  }
  50% {
    padding-bottom: 80px;
  }
  100% {
    padding-bottom: 70px;
  }
}

.intro
{
  padding: 80px 0px;
  text-align: center;
}

.intro h1
{
  color: #3968ca;
  font-weight: 600;
}

.intro .container
{
  padding-left: 180px;
  padding-right: 180px;
}

.intro .hrbar
{
  margin-left: auto;
  margin-right: auto;
}

.hrbar
{
  width: 40px;
  margin-top: 26px;
  margin-bottom: 26px;
  height: 5px;
  background-color: #ff2153;
}

.clients
{
  padding-bottom: 70px;
  padding-top: 24px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.clients img
{
  height: 36px;
  margin: 0px 25px;
  filter: saturate(0);
  opacity: 0.7;
  transition-duration: 0.3s;
}

.clients img:hover
{
  opacity: 1;
  filter: saturate(1);
}

.colcard img
{
  width: 100px;
}

.colcard
{
  text-align: center;
  color: white;
  padding: 60px 0px;
}

.colcard h4
{
  margin-top: 30px;
  font-size: 22px;
}

.cc1
{
  background-color: #3968ca;
}

.cc2
{
  background-color: #ca7cd8;
}

.cc3
{
  background-color: #1cd9d5;
}

.cc4
{
  background-color: #ff2153;
}

.cc5
{
  background-color: #0be881;
}

.cc6
{
  background-color: #ffd32a;
}

.cc7
{
  background-color: #485460;
}

.cc8
{
  background-color: #0fbcf9;
}

.ad
{
  padding: 80px;
}

.ad h1
{
/*  margin-top: 20px;*/
}

.work
{
  padding: 50px;
  padding-bottom: 80px;
  text-align: center;
}

.work h1
{
  font-weight: 600;
  color: #ff2153;
}

.sec5
{
  padding: 80px;
  background-color: #fee656;
  text-align: center;
}

.hof
{
  background-color: #ee413a;
  padding: 50px;
  text-align: center;
}

.f2
{
  background-color: #1a1a1a;
  padding: 50px;
}

.nos
{
  color: white;
  font-size: 18px;
  line-height: 2;
}

.nos .smallcta, .nos input
{
  margin-top: 20px;
}

.foot2
{
  background-color: black;
  padding: 50px;
}

.addr
{
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
}

.socx img
{
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

.newss
{
  border-radius: 0px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}

.about
{
  padding: 80px;
  margin-top: 86px;
  background-color: #f75353;
}

.pinka
{
  background-color: #f75353;
}

.about .hrbar
{
  margin-top: 0px;
  background-color: yellow;
}

.about h1
{
  color: white;
}

.about
{
  color: rgba(255, 255, 255, 0.8);
}

.aboutpic
{
  background-image: url(img/About%20Us.jpg);
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}

.team
{
  padding: 80px 0px;
  
  text-align: center;
}

.team .hrbar
{
  margin-top: 0px;  
}

.solo
{
  background-size: cover;
  background-position: center;
  height: 420px;
  text-align: center;
}

.solo:hover .info
{
  opacity: 1;
}

.info
{
  padding-top: 300px;
  color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(rgba(0, 0, 0, 0), #000);
  height: 100%;
  opacity: 0;
  transition-duration: 0.3s;
}

.info h3
{
  color: white;
}

.t1
{
  background-image: url(https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1496&amp;q=80);
}

.t1r
{
  background-image: url(img/ram.jpg);
}

.t1b
{
  background-image: url(img/bruce.jpg);
}

.t1s
{
  background-image: url(img/shwetha.jpg);
}

.t3
{
  background-image: url(img/unknown.jpg);
}

.next
{
  padding: 50px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.05);
}

.next a
{
  color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
}

.mart50
{
  margin-top: 40px;
}

.next a:hover
{
  color: black;
  text-decoration-line: none;
}

.next a:hover img
{
/*  opacity: 1;*/
  margin-right: 0px;
}

.next a img
{
  height: 50px;
  opacity: 0.3;
  margin-right: 30px;
  transition-duration: 0.3s;
}

.sbanner
{
  margin-top: 86px;
/*  border-top: 1px solid rgba(0, 0, 0, 0.05);*/
}

.con
{
  padding: 100px 80px;
  background-color: #f75353;
  color: rgba(255, 255, 255, 0.9);
}

.sercon
{
  background: linear-gradient(rgba(247, 83, 83, 0.9), rgba(247, 83, 83, 0.7)), url(img/ourser.jpg);
  background-size: cover;
  padding: 150px 0px;
  background-position: top;
  text-align: center;
}

.sercon .hrbar
{
  margin-left: auto;
  margin-right: auto;
}

.sercon p
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.con h1
{
  color: white;
}

.con .hrbar
{
  background-color: yellow;
}

.sim
{
  background-image: url(img/Our%20Services.jpg);
  background-size: cover;
  background-position: top;
}

.wrk
{
  padding: 50px;
}

.cont
{
  padding-left: 50px;
}

.hoho
{
  margin-top: 86px;
  background-color: #333;
  color: white;
}

.hoho .container
{
  display: flex;
  justify-content: space-between;
}

.hoho a
{
  color: rgba(255, 255, 255, 0.6);
}

.hoho a:hover
{
  color: white;
  text-decoration-line: none;
}

.det
{
  padding: 20px 0px;
  color: rgba(255, 255, 255, 0.6);
}

.waaa
{
  background-color: #f75353;
  padding: 80px;
  padding-top: 166px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
}

.waaa h1
{
  font-weight: 600;
  font-size: 50px;
  color: white;
}

.wbar
{
  height: 5px;
  background-color: yellow;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px
}

.work .row
{
  margin-top: 50px;
}

.services .col-md-3
{
  padding: 0;
}

.services a:hover
{
  text-decoration-line: none;
}

.modal-content
{
  border-radius: 0px;
}

.modal-header
{
  border-radius: 0px;
  background-color: black;
  color: white;
}

.close
{
  color: white;
}

.close:hover
{
  color: white;
}

.modal-footer .bcta
{
  margin-left: auto;
  margin-right: auto;
}

.taut
{
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: 20px;
}

.modal-content1
{
  padding: 30px;
}

.modal-content1 h1
{
  font-weight: 600;
  color: #3968ca;
}

.teampic
{
  height: 400px;
  background-size: cover;
  background-position: center;
}

.is
{
  background-image: url(img/unknown.jpg);
}

.tcon
{
  line-height: 2;
  color: rgba(0, 0, 0, 0.6);
}

.aure h4
{
  font-size: 18px;
  font-weight: 800;
  margin-top: 20px;
  color: #3968ca;
  text-align: center;
  margin-bottom: 10px;
}

.aure
{
  padding-left: 30px;
  padding-right: 30px;
}

.aure audio
{
  width: 100%;
}

.volvol
{
  height: 40px;
  width: 40px;
  background-image: url(img/mute.png);
  background-size: contain;
}

.myad
{
  position: absolute;
  z-index: 999;
  position: fixed;
  bottom: 0;
  margin: 30px;
}

.heed
{
  padding: 0px;
  background-color: white;
  border-bottom: none;
}

.heed .close
{
  color: black;
}

.heed .close:hover
{
  color: black;
}

.galsolo
{
  background-size: cover;
  width: 25%;
  height: 200px;
  float: left;
}

.soloimg
{
  height: 150px;
  width: 100%;
  background-size: cover;
}


.gallery .row
{
  margin: 0;
/*  padding: 0;*/
}

.gallery .col-md-3
{
  margin-top: 30px;
}



@media only screen and (max-width: 600px) {
 
  
  .navbar-brand img
  {
    height: 40px;
  }
  
  .thatxt
  {
    padding-top: 0px;
    font-size: 26px;
    padding-left: 30px;
  }
  
  #maintype
  {
    display: block;
    margin-bottom: 30px;
  }
  
  .cassette
  {
    width: 50%;
  }
  
  .cas
  {
    text-align: center;
  }
  
  .main
  {
    padding-top: 120px;
  }
  
  .intro
  {
    padding: 50px 30px;
  }
  
  .intro .container
  {
    padding: 0px;
  }
  
  .clients img
  {
    height: 30px;
    margin: 15px;
  }
  
  .aure
  {
    padding: 0px;
  }
  
  .ad
  {
    padding: 50px 30px;
  }
  
  .ad .bcta
  {
    margin-bottom: 30px;
  }
  
  .ad iframe
  {
    height: 200px;
  }
  
  .work
  {
    padding: 50px 20px;
  }
  
  .next a
  {
    font-size: 24px;
  }
  
  .work iframe
  {
    margin-top: 30px;
  }
  
  .sec5
  {
    padding: 50px 20px;
  }
  
  .sec5 h1
  {
    font-size: 26px;
  }
  
  .socx h3
  {
    margin-top: 30px;
  }
  
  .about
  {
    padding: 50px 30px;
    margin-top: 66px;
  }
  
  .aboutpic
  {
    height: 200px;
  }
  
  .team
  {
    padding: 50px 30px;
  }
  
  .solo
  {
    margin-top: 30px;
  }
  
  .teampic
  {
    margin-bottom: 30px;
  }
  
  .modal-content1
  {
    padding: 15px;
  }
  
  .con
  {
    padding: 50px 30px;
  }
  
  .sim
  {
    height: 200px;
  }
  
  .waaa
  {
    padding: 50px 0px;
    padding-top: 100px;
  }
  
  .cont
  {
    padding-left: 0px;
    margin-top: 50px;
  }
  
  .hoho .container
  {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
  }
  
  .det
  {
    padding: 10px;
  }
  
}